<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app">
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div v-for="(item, id) in steps">
        <div class="steps-content"  
        :key="item.text"
        v-if="id == activeIndex"
        >
          {{ item.text }}
        </div>
      </div>
        <ul class="steps-list">
          <li class="steps-item" :class="{
            'active': activeIndex == 0,
            'done': activeIndex > 0
          }"          
          ><span @click="activeIndex = 0">1</span><div v-for="(item, id) in steps"> <label :key="item.title" v-if="id == 0">{{item.title}}</label></div>
        </li>
          <li class="steps-item" :class="{
            'active': activeIndex == 1,
            'done': activeIndex > 1
          }"><span @click="activeIndex = 1">2</span> <div v-for="(item, id) in steps"> <label :key="item.title" v-if="id == 1">{{item.title}}</label></div></li>
          <li class="steps-item" :class="{
            'active': activeIndex == 2,
            'done': activeIndex > 2
          }"><span @click="activeIndex = 2">3</span> <div v-for="(item, id) in steps"> <label :key="item.title" v-if="id == 2">{{item.title}}</label></div></li>
          <li class="steps-item" :class="{
            'active': activeIndex == 3,
            'done': activeIndex > 3
          }"><span @click="activeIndex = 3">4</span> <div v-for="(item, id) in steps"> <label :key="item.title" v-if="id == 3">{{item.title}}</label></div></li>
          <li class="steps-item" :class="{
            'active': activeIndex == 4,
            'done': activeIndex > 4
          }"><span @click="activeIndex = 4, displayIndex = 4, btnTitle = 'Закончить'">5</span> <div v-for="(item, id) in steps"> <label :key="item.title" v-if="id == 4">{{item.title}}</label></div></li>
        </ul>
        <div>
          <button class="btn" @click="minusButton" :class="activeIndex === 0 ? 'disabled' : 'primary'"
          :style="{
            display: displayIndex === 5 ? 'none' : '',
          }"
          >Назад</button>
          <button class="btn primary" @click="plusButton" 
          :style="{
            display: displayIndex === 5 ? 'none' : ''
          }"> {{btnTitle}} </button>
          <button class="btn primary" @click="reset"
          :style="{
            display: displayIndex === 5 ? '' : 'none'
          }"
          > Начать заново </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
